.details{
    padding :20px;
    margin: 10px 20px;
    border: 1px solid;
    border-radius: 30px;
    cursor: pointer;
    position: sticky;
    top: 20px;
}
.description{
    margin: 10px 0px;
    font-size: 20px;
}
.salary{
    margin: 10px 0px;
}